@import "../../styles/common.scss";

.home-header-container {
    height: 75px;
    width: 100%;
    background-color: rgb(50, 88, 38);
    color: black;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;
            align-items: center;
            display: flex;

            .header-logo {
                text-align: center;
                font-size: 50px;
                height: 100%;
                width: 100%;
                margin-left: 10px;
                cursor: pointer;
                text-decoration: none;
            }

        }

        .center-content {
            width: 50%;
            display: flex;
            font-size: 18px;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }

        .right-content {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            // .support {
            //     padding-right: 50px;
            //     display: flex;
            //     align-items: center;
            //     cursor: pointer;
            // }

            .language-en {
                margin-right: 15px;
                margin-left: 10px;
                cursor: pointer;
                &.active {
                    opacity: 1;                        
                    color: orange;
                }
            }
            .language-vi {
                cursor: pointer;
                &.active {
                    opacity: 1;
                    color: orange;
                }
            }
        }
        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 20px;
            &:hover {
                background-color: darken($colormain, 5);
            }
            i {
                font-size: $base-size + 1px;
            }
        }
    }
}

// .header-container {
//     z-index: 99;
//     display: flex;
//     justify-content: space-between;
//     background-color: $colormain;
//     color: $common-text-color;
//     height: 40px;
//     position: relative;

//     .languages {
//         .language-en {
//             margin-right: 15px;
//             margin-left: 10px;
//             cursor: pointer;
//             &.active {
//                 opacity: 1;                        
//                 color: orange;
//             }
//         }
//         .language-vi {
//             cursor: pointer;
//             &.active {
//                 opacity: 1;
//                 color: orange;
//             }
//         }

//         .btn-logout {
//             color: $common-text-color;
//             line-height: 40px;
//             height: 40px;
//             padding: 0 20px;
//             &:hover {
//                 background-color: darken($colormain, 5);
//             }
//             i {
//                 font-size: $base-size + 1px;
//             }
//         }
//     }
// }